.personalInformationMedia{
    font-size: 20px;
}

#jianshu{
    width: 40px;
    height: 22px;
}

#csdn{
    width: 24px;
    height: 24px;
}

div a img {
    margin: 5px;
}


canvas#live2dcanvas {
    border: 0 !important;
    right: 0; 
    /* 修改动画在左右的位置 */
    }    
